:rootstyle {
    /* text colors */
--main-font: 'Roboto';
--secondary-font: 'Raleway';
    /* colors */
--accent: #2196f3;
--white: #ffffff;
    /* other */
--items: 4;
--indent: 30px;
}

body { 
font-family: var(--main-font), sans-serif;
font-family: 'Roboto', 'Raleway', sans-serif;}

/* Сітка із застосуванням flex-box */

.card-set {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin: -15px;
    }
    
.card-set-item {
    flex-basis: calc(100% - ((var(--items)-1) * var(--indent)) / var(--items));
    margin: 15px;
    }

/* reset */
h1, h2, h4, h5, h6, p, ul {
    margin-top: 0;
    margin-bottom: 0; 
}

img {
display: block;
max-width: 100%;
height: auto;
}

h3 {margin-top: 0;   
    margin-bottom: 10px;}

/* common styles start */

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* common styles start */
.list {
    list-style: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* header section */
.header-page {
    border-bottom: 1px solid #ECECEC;
}

.menu-nav-list {
display: flex;
align-items: center;
margin-left: 93px;
}

.header-container {
display: flex;
align-items: center;
}

/* Секція Menu nav */

.nav-link{
margin-right: 50px;
}

.menu-nav-list .nav-link:last-child {
margin-right: 0;
}


.header-page a {
text-decoration: none;
}

.logo {color: #2196F3;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

padding-top: 25px;
padding-bottom: 25px;
}

.studio {color: #212121}

.first-nav {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;}

.scnd-nav { color: #212121;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;}

.thrd-nav { color: #212121;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;}

.current-link { color: #2196F3;}

.item-nav {
    padding-top: 32px;
    padding-bottom: 32px;
}

.item-nav:hover,
.item-nav:focus {
    color: #2196F3;
}

.contact-list {
    display: flex;
}

.contact-link {
padding-top: 32px;
padding-bottom: 32px;  

color: #757575;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.contact-link:focus,
.contact-link:hover {
color: #2196F3;
} 

.tel-hd {
margin-left: 50px;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: rgba(117, 117, 117, 1);
}

.contact-nav {
margin-left: auto;}

/* Оформлення іконок пошти і телефону */

.contact-icon {
margin-right: 10px;

fill: #757575;
fill: currentColor;
}

.contact-link:focus,
.contact-link:hover {
    fill: #2196F3;
    color: #2196F3;
}

/* Секция hero */

.hero {
padding-top: 200px;
padding-bottom: 200px;

background-color: rgba(47, 48, 58, 1); 
text-align: center;
}

.overlay {
max-width: 1600px;
height: 600px;
margin-left: auto;
margin-right: auto;
background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
url(../images/background-img.jpg);}

.contact-nav {font-style: normal;
line-height: 1.71;}

h1 {
width: 696px;
margin-right: auto;
margin-left:auto;
    
color: rgba(255, 255, 255, 1);
    
font-weight: 900;
font-size: 44px;
line-height: 1.36;
    
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
margin-bottom: 30px;}

.text-button {

display: inline-block;
padding: 10px 32px;
justify-content: space-around;  

color: rgba(255, 255, 255, 1);
font: var(--main-font);
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border-color: transparent; 

cursor: pointer; 
background-color: rgba(33, 150, 243, 1);

}

.text-button:hover,
.text-button:focus {
background: #188CE8; }

/* Секция property */

.list-property {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin: -15px;
    }
    
    .element-property {
    width: 270px;
    flex-basis: calc(100% - ((var(--items)-1) * var(--indent)) / var(--items));
    margin: 15px;
    }

.attention-detail {
color: rgba(33, 33, 33, 1); 
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;}

.punctuality {color: rgba(33, 33, 33, 1);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;}

.planning {color: rgba(33, 33, 33, 1);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;}

.tech {color: rgba(33, 33, 33, 1);

font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;}

.idea-considerations {color: rgba(117, 117, 117, 1);

font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;}

.task-company{color: rgba(117, 117, 117, 1);

font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;}

.consult {color: rgba(117, 117, 117, 1);

font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;}

.significance-problem {color: rgba(117, 117, 117, 1);

font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;}

/* Оформлення плашок в секції Property */

.property-item {
margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;

    background: #F5F4FA;
    border-radius: 4px;
}

/* Секція Чем мы занимаемся */

.team-section {
padding-top: 0;
}

.what-we-do {color: rgba(33, 33, 33, 1);
    
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

margin-bottom: 50px;
}

.pict-first {
    
background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal; }

.pict-scnd {

background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}

.pict-thrd {

background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}

.img-what-do {
display: flex;
padding: 0;
}

.pic-what-do {
flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
margin-right: 30px;
}

.pic-what-do:last-child {
margin-right: 0;
}

/* Секція Наша команда */

.team {
    margin-bottom: 50px;
}

.sect-team {background-color: rgba(245, 244, 250, 1);}

.team {color: #212121; 
    
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;} 

.wrap {
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
width: 270px;
padding-top: 30px;
padding-bottom: 30px;
}

.team-list {
display: flex;
padding-left: 0;
margin-right: 30px;
}

.team-icon {
margin-right: 30px;
}

.team-icon:last-child {
margin-right: 0;
}

.team-position {
margin-bottom: 16px;
}

.employee-first {
background: url(4853.jpg);
border-radius: 0px;}

.name-ihor {color: rgba(33, 33, 33, 1);

font-weight: 500;
font-size: 16px;
line-height: 1.19;

text-align: center;
letter-spacing: 0.03em;}

.designer{color: rgba(117, 117, 117, 1);
    
font-weight: 400;
font-size: 16px;
line-height: 1.19;
    
text-align: center;
letter-spacing: 0.03em;}

.employee-scnd {
background: url(5844.jpg);
border-radius: 0px;}

.name-olha{color: rgba(33, 33, 33, 1);
        
font-weight: 500;
font-size: 16px;
line-height: 1.19;
        
text-align: center;
letter-spacing: 0.03em;}

.developer{color: rgba(117, 117, 117, 1);
        
font-weight: 400;
font-size: 16px;
line-height: 1.19;
        
text-align: center;
letter-spacing: 0.03em;}

.employee-thrd {
background: url(16166.jpg);
border-radius: 0px;}

.name-nick {color: rgba(33, 33, 33, 1);
        
font-weight: 500;
font-size: 16px;
line-height: 1.19;
        
text-align: center;
letter-spacing: 0.03em;}
        
.marketing{color: rgba(117, 117, 117, 1);
        
font-weight: 400;
font-size: 16px;
line-height: 1.19;
        
text-align: center;
letter-spacing: 0.03em;}

.employee-fourth {    
background: url(2968.jpg);
border-radius: 0px;}

.name-michael {color: rgba(33, 33, 33, 1);

font-weight: 500;
font-size: 16px;
line-height: 1.19;

text-align: center;
letter-spacing: 0.03em;}

.ui-Designer {color: rgba(117, 117, 117, 1);

font-weight: 400;
font-size: 16px;
line-height: 1.19;

text-align: center;
letter-spacing: 0.03em;}

/* Оформлення іконок */

.social-media-list {
display: flex;
justify-content: center;
padding-left: 0;

}

.social-media-link {
display: flex;
align-items: center;
justify-content: center;
height: 44px;
width: 44px;

background-color: #FFFFFF;
border-radius: 50%;

fill: rgba(175, 177, 184, 1);

}

.social-media-link:hover,
.social-media-link:focus {
fill: rgba(255, 255, 255, 1);
background-color: #2196F3;
} 

.social-media-list .social-media-item + .social-media-item {
margin-left: 10px;
}

/* Секція Постоянные клиенты */

.clients {
margin-bottom: 50px;

font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

}

/* Оформлення логотипів постійних клієнтів */

.client-list {
    display: flex;
    justify-content: center;
    justify-content: center; 
    padding: 0;
}


.client-link {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 16px 32px;
    
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

}

.client-icon {
    
}

.client-item {
background-color: #FFFFFF;
min-width: 170px;
min-height: 92px;
}

.client-item + .client-item {
margin-left: 30px;
}

.client-link:hover,
.client-link:focus {
fill: rgba(33, 150, 243, 1);
border-color: rgba(33, 150, 243, 1);
}

/* Секция Footer bg */

.footer-back a {
text-decoration: none;
line-height: 1.71;}

.logo-footer {color: #2196F3;

font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;

letter-spacing: 0.03em;

display: inline-block;
margin-bottom: 20px;}

.ftr-list {
padding-left: 0;
}

.studio-white {color: white;} 

.link-adr-ftr {
color: rgba(255, 255, 255, 1);
font-weight: 400;
font-size: 14px;
letter-spacing: 0.03em;

display: inline-block;
margin-bottom: 9px;}

.link-mail-ftr {
color: rgba(255, 255, 255, 0.6);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

display: inline-block;
margin-bottom: 9px;}

.link-ph-ftr {color: rgba(255, 255, 255, 0.6);

font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;}

.footer-back {
background-color: rgba(47, 48, 58, 1);
padding-top: 60px;
padding-bottom: 60px;
}

.footer-list {
    display: flex;
    align-items: baseline;
}

.call-to-action-box {
    margin-left: 70px;
}

.call-to-action-name {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
}

/* Оформлення іконок в footer */

.call-to-action-list {
padding: 0;
margin-top: 20px;
display: flex;
justify-content: center; 
}

.call-to-action-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.call-to-action-link:hover,
.call-to-action-link:focus {
    background-color: #2196F3;
}
    
.call-to-action-item + .call-to-action-item {
margin-left: 10px;
}


/* Portfolio page */

ul {list-style: none;}

/* Секція header */

.first-nav-port { color: #212121;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;}

.scnd-nav-port {color: #2196F3;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.thrd-nav-port {color: #212121;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

/* Фильтр портфолио */

.button-text {
font: var(--main-font); 
font-weight: 500;
font-size: 16px;
line-height: 1.62;

letter-spacing: 0.03em;

color: #212121;
background: #F5F4FA;
cursor: pointer; 

display: inline-block;
border-radius: 4px;
border-color: transparent;
height: 38px;
padding: 6px 22px;
justify-content: space-between; 
margin-right: 8px;
}

.btn-mrktng {
margin-right: 0px;
} 


.button-text:hover,
.button-text:focus {
color: #FFFFFF; 
background: #2196F3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
}

.btn-all {
min-width: 73px;
}

.btn-web {
min-width: 128px;
}

.btn-apps {
min-width: 145px;
}

.btn-dsgn {
min-width: 103px;
}

.btn-mrktng {
min-width: 130px;
}


.button-list {
margin-bottom: 50px;
display: flex;
justify-content: center;
}

/* Service gallery */

.all-services {
--items: 3;
}

.name-service {font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
    
color: #212121;
}

.type-service { font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    
    color: #757575;
} 

.wrap-border {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: transparent;
    width: 370px;
    padding: 20px 24px;
}

.services-item:hover,
.services-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}